// variables

// brand colors
$color_brand-black: #2a2a2a;
$color_brand-white: #ffffff;
$color_brand-text-grey: #444444;
$color_brand-subhead-grey: #595959;
$color_brand-helper-grey: #999999;
$color_brand-outline: #cdcdcd;
$color_brand-link: #007bb6;
$color_brand-body-background: #dedede;
$color_brand-alt-background: #eaeaea;
